<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <section class="forker-overview">
    <% if(forkers) { %>
      <%- include('partials/overviewcard', { results: forkers}) %>
    <% } else { %>
        <h2>No results have been found</h2>
    <% } %>
  </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
